#body{
    border: none;
    margin: none;
    height: 100%;
    width:100%;
    overflow-x: hidden;
}
h1 {
    color: #0033cc;
    font-family: 'Patrick Hand', cursive;
    font-weight:lighter;
    font-size: 5em;
    letter-spacing: .05em;
    padding-top: 0.5em;
    margin-bottom: 0em;
    text-align:center;
}
h2 {
    font-family: 'Homenaje', sans-serif;
    padding-bottom: 1em;
    font-weight:normal;
    font-size: 2em;
    text-align:center;
}
nav.top-bar {
    background-color: none;
    position: fixed;
    width:100%;
    top: 0;
    left: 0;
    padding-top: 0.25em;
    border: none;
    margin: 0;
    font-size: 2em;
    z-index: 101;
    height: 2em;
}
.button-top a {
    max-height: 1.5em;
    max-width: 5em;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    display: inline-flex;
    border: none;
    padding: 0.25em;
    padding-left: 3em;
    padding-right: 3em;
    position: relative;
    overflow: hidden;
    color: black;
    letter-spacing: 2px;
    color: #002699;
}
.top-logo>img { 
    width: auto;
    height: 1.5em;
}
.button-top:hover{
    color: black;
}
.top-bar #name-logo {
    float: left;
}
.top-bar #projects-icon {
    float: right;
}
#intro {
    padding-top: 5em;
}
#button-links{
    padding-bottom: 6em;
}
.container {
    padding-left: 5em;
    padding-right: 5em;
    z-index: 101;
    justify-content: center;
    text-align: center;
}
.button {
    font-family: 'Patrick Hand', cursive;
    min-width: 2em;
    z-index: 101;
    margin: 13px;
    padding: .35em;
    padding-left: 1em;
    padding-right: 1em;
    border: 3px solid #33cccc;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    color: white;
    letter-spacing: .1em;
    font-size: 1.7em;
}
.button:hover .link{
    color:#33cccc;
    font-weight:light;
}
.link{
    color: blue; 
    text-decoration:none;
}
#projects-intro{
    color: black;
    font-family: 'Patrick Hand', cursive;
    font-weight:lighter;
    font-size: 3em;
    letter-spacing: .02em;
    position: relative;
}
.projects-title>p{
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
}
.projects-title>img{
    padding-top: .5em;
    bottom: 0;
    max-height: 1.5em;
    width:auto;
}
hr {
    width: 75%;
    size: 10px;
    float: center;
}
.container1 {
    z-index: 101;
    padding: 0 5em 0 5em;
    margin: 0 10% 0 10%;
    font-family: 'Homenaje', sans-serif;
    font-weight:normal;
    font-size: 2em;
    text-align: left; 
}
.container1 h3:first-of-type, h4:first-of-type {
    -webkit-margin-before:0em;
}
h3 {
    -webkit-margin-after:0em;
    float: left;
    text-transform: uppercase;
}
h4 {
    -webkit-margin-after:0em;
    float: right;
    font-weight: lighter;
}
.container1 hr{
    visibility: hidden;
    width: 100%;
}
.container1 p{
    -webkit-margin-before:0em;
    -webkit-margin-after: 1.5em;
}
.container1 p::first-line{
    color:blue;
}


